<div class="md:my-12 mx-auto w-full lg:w-1/2 bg-gray-800 p-12 rounded-lg shadow-lg">
  <div class="text-center my-8"><%= header t(".title") %></div>
  <div class="mx-auto max-w-md"><%= render partial: '/sessions/form' %></div>
</div>
