# Basic set up for three package managers

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "bundler"
    directory: "/"
    versioning-strategy: increase-if-necessary
    schedule:
      interval: "daily"
    groups:
      minor-updates:
        patterns:
          - "*" # group as many dependencies together as possible
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
