<%= header("Pipelines") %>

<div id="pipelines">
  <% @pipelines.each do |pipeline| %>
    <%= render pipeline %>
  <% end %>
</div>

<div class="p-2">
  <%= link_to("New pipeline", new_pipeline_path, class: blue_button_class) %>
</div>
